In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from collections import defaultdict
from joblib import Parallel, delayed

import sqlite3
import sys
import time
import math
import tqdm
import datetime
import os
import pickle
import random

import swifter

from glicko2 import Player

if os.path.exists('/workspace/data'):
    # Load the dictionary of DataFrames from the pickle
    data_path = '/workspace/data/'
else:
    data_path = '../data/'

## Loading SQLite Database into Pandas DataFrames

The following code connects to an SQLite database (`melee_player_database.db`) and converts each table within the database into a pandas DataFrame. The DataFrames will be stored in a dictionary, where each key corresponds to the table name with `_df` appended, and the values are the respective DataFrames.

### Steps:

1. **Database Connection**: We use the `sqlite3` library to connect to the SQLite database file.
2. **Retrieve Table Names**: A query retrieves all the table names in the database.
3. **Convert Tables to DataFrames**: For each table:
   - The table is loaded into a pandas DataFrame using `pd.read_sql()`.
   - We check each column to see if any data is JSON-formatted (lists or dictionaries). If so, we convert these columns from strings into their corresponding Python objects using `json.loads()`.
4. **Store DataFrames**: The DataFrames are stored in a dictionary, where the key is the table name with a `_df` suffix, and the value is the DataFrame.
5. **Database Connection Closed**: Once all tables are loaded into DataFrames, the database connection is closed.

### Example:
If the database contains a table named `players`, the corresponding DataFrame will be stored in the dictionary with the key `players_df`, and can be accessed as:

```python
players_df = dfs['players_df']

In [2]:
# Function to get the table names
def get_table_names(conn):
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    return pd.read_sql(query, conn)['name'].tolist()

# Function to load tables into DataFrames
def load_tables_to_dfs(conn):
    table_names = get_table_names(conn)
    dataframes = {}
    
    for table in table_names:
        # Load table into a DataFrame
        df = pd.read_sql(f"SELECT * FROM {table}", conn)
        
        # Detect and convert JSON formatted columns (if any)
        for col in df.columns:
            # Check if any entry in the column is a valid JSON (list or dictionary)
            if df[col].apply(lambda x: isinstance(x, str)).all():
                try:
                    # Try parsing the column as JSON
                    df[col] = df[col].apply(lambda x: json.loads(x) if pd.notnull(x) else x)
                except (json.JSONDecodeError, TypeError):
                    # If it fails, skip the column
                    pass
        
        # Store the DataFrame with table name + '_df'
        dataframes[f"{table}_df"] = df
        
    return dataframes

if os.path.exists(data_path + 'dfs_dict.pkl'):
    cell_has_run = True
    # Load the dictionary of DataFrames from the pickle
    with open(data_path + 'dfs_dict.pkl', 'rb') as f:
        dfs = pickle.load(f)
# Check if the flag variable exists in the global scope so that this code does not run twice
if 'cell_has_run' not in globals():
    path = data_path + "melee_player_database.db"
    
    # Connect to the database
    conn = sqlite3.connect(path)

    # Convert each table into a DataFrame
    dfs = load_tables_to_dfs(conn)

    # Close the connection
    conn.close()

    # Now, you have a dictionary 'dfs' where each key is the table name with '_df' suffix and value is the corresponding DataFrame.
    # For example, to access the DataFrame for a table called 'players':
    # players_df = dfs['players_df']

    dfs['tournament_info_df']['start'] = pd.to_datetime(dfs['tournament_info_df']['start'], unit='s')
    dfs['tournament_info_df']['end'] = pd.to_datetime(dfs['tournament_info_df']['end'], unit='s')

    
    # Set the flag to indicate that the cell has been run
    cell_has_run = True

### Here we adjust the data types of the dataframes so that they are the correct type. (This will be updated as needed.)

In [3]:
dfs['sets_df']['best_of'] = dfs['sets_df']['best_of'].fillna(0).astype(int)

### Here we make dataframes that we will use and print the head.

The integers in 'characters' count the number of games the player has played that character. (We verify this for Zain below.)

In [4]:
players_df = dfs['players_df']
players_df.head()

,game,player_id,tag,all_tags,prefixes,social,country,state,region,c_country,c_state,c_region,placings,characters,alias
0,melee,Rishi,Rishi,[Rishi],[],{'twitter': []},,,,None,None,None,[{'key': 'mdva-invitational-2017-(challonge-mi...,,None
1,melee,15634,lloD,"[lloD, VGz | lloD, Llod]",[],{'twitter': ['lloD74']},United States,VA,,US,CA,Laurel,[{'key': 'mdva-invitational-2017-(challonge-mi...,"{'melee/peach': 1089, 'melee/falco': 1, 'melee...",None
2,melee,6126,Zain,"[Zain, DontTestMe]",[PG],{'twitter': ['PG_Zain']},United States,VA,,US,CA,Los Angeles,[{'key': 'mdva-invitational-2017-(challonge-mi...,"{'melee/marth': 1065, 'melee/pichu': 1, 'melee...",DontTestMe
3,melee,Chu,Chu,[Chu],[],{'twitter': []},,,,None,None,None,[{'key': 'mdva-invitational-2017-(challonge-mi...,,None
4,melee,5620,Junebug,"[Junebug, LS | VGz Junebug]",[],{'twitter': ['arJunebug']},United States,VA,,US,VA,Richmond,[{'key': 'mdva-invitational-2017-(challonge-mi...,"{'melee/sheik': 46, 'melee/falco': 4, 'melee/g...",None

In [5]:
ranking_df = dfs['ranking_df']
ranking_df.head()

,game,ranking_name,priority,region,seasons,tournaments,icon
0,melee,SSBMRank,0,world,"[2015, 2016, 2017, 2018, 2019]",[],miom

In [6]:
ranking_seasons_df = dfs['ranking_seasons_df']
ranking_seasons_df.head()

,game,ranking_name,season,start,end,total,by_id,by_placing,final,name
0,melee,SSBMRank,2015,1420070400,1451606399,100,"{'6189': 1, '1004': 2, '4465': 3, '1000': 4, '...","{'1': '6189', '2': '1004', '3': '4465', '4': '...",0,None
1,melee,SSBMRank,2016,1451606400,1483228799,100,"{'6189': 1, '1004': 2, '1000': 3, '1003': 4, '...","{'1': '6189', '2': '1004', '3': '1000', '4': '...",0,None
2,melee,SSBMRank,2017,1483228800,1514764799,100,"{'1004': 1, '6189': 2, '1000': 3, '1003': 4, '...","{'1': '1004', '2': '6189', '3': '1000', '4': '...",0,None
3,melee,SSBMRank,2018,1514793600,1546329600,100,"{'1004': 1, '6189': 2, '4465': 3, '15990': 4, ...","{'1': '1004', '2': '6189', '3': '4465', '4': '...",0,None
4,melee,SSBMRank,2019,1546329600,1577836800,100,"{'1004': 1, '4465': 2, '1000': 3, '16342': 4, ...","{'1': '1004', '2': '4465', '3': '1000', '4': '...",0,None

In [7]:
sets_df = dfs['sets_df']
print(f"{sets_df[sets_df['game_data'].apply(lambda x: len(x) > 0)].shape[0] / sets_df.shape[0]:0.01%} percent of sets have some game data)")

sets_df.head()

32.9% percent of sets have some game data)

,key,game,tournament_key,winner_id,p1_id,p2_id,p1_score,p2_score,location_names,bracket_name,bracket_order,set_order,best_of,game_data
0,104675843,melee,mdva-invitational-2017-(challonge-mirror),5620,5620,Chillin,3,1,"[R1, Round 1, Round 1]",,1,A,5,[]
1,104675844,melee,mdva-invitational-2017-(challonge-mirror),Aglet,15634,Aglet,2,3,"[R1, Round 1, Round 1]",,1,B,5,[]
2,104675845,melee,mdva-invitational-2017-(challonge-mirror),6126,6126,1097,3,0,"[R1, Round 1, Round 1]",,1,C,5,[]
3,104675846,melee,mdva-invitational-2017-(challonge-mirror),1069,Chu,1069,0,3,"[R1, Round 1, Round 1]",,1,D,5,[]
4,104675847,melee,mdva-invitational-2017-(challonge-mirror),Rishi,Jerry,Rishi,1,3,"[R1, Round 1, Round 1]",,1,E,5,[]

In [8]:
tournament_info_df = dfs['tournament_info_df']
tournament_info_df.head()

,game,key,cleaned_name,source,tournament_name,tournament_event,season,rank,start,end,country,state,city,entrants,placings,losses,bracket_types,online,lat,lng
0,melee,mdva-invitational-2017-(challonge-mirror),MDVA Invitational 2017 (Challonge Mirror),challonge,https://challonge.com/mdva_invitational_2017,,17,,2017-11-26 08:05:11,2017-11-26 08:48:09,US,VA,Fall's Church,10,"[[Rishi, 1], [15634, 3], [6126, 4], [Chu, 8], ...",{},b'{}',0,NaN,NaN
1,melee,s@sh7,S@SH7,challonge,https://challonge.com/sash7,,17,,2017-06-13 10:27:01,2017-06-13 10:27:01,US,MI,Ann Arbor,92,[],{},b'{}',0,NaN,NaN
2,melee,slippi-champions-league-week-1__melee-singles,Slippi Champions League Week 1,pgstats,slippi-champions-league-week-1,melee-singles,20,,2020-10-11 14:00:00,2020-10-11 14:00:00,,,,20,"[[1000, 1], [6126, 2], [4107, 3], [19554, 3], ...",{},b'{}',1,0.0,0.0
3,melee,slippi-champions-league-week-2__melee-singles,Slippi Champions League Week 2,pgstats,slippi-champions-league-week-2,melee-singles,20,,2020-10-18 14:00:00,2020-10-18 14:00:00,,,,20,"[[6126, 1], [4107, 2], [1000, 3], [19554, 3], ...",{},b'{}',1,0.0,0.0
4,melee,slippi-champions-league-week-3__melee-singles,Slippi Champions League Week 3,pgstats,slippi-champions-league-week-3,melee-singles,20,,2020-10-25 14:00:00,2020-10-25 14:00:00,,,,20,"[[6126, 1], [3359, 2], [19554, 3], [4107, 3], ...",{},b'{}',1,0.0,0.0

In [9]:
# Code optimization by Dan
# Basically we want to replace this line in process_tournament with something more efficient:
#
#      tournament_sets_df = sets_df[sets_df['tournament_key'] == tournament_key]
#
# Instead, we can
# - Merge the tournament date info into ``sets_df``
# - Sort by date
# - Store the start/end positions of each tournament in a separate dictionary
# - Use tournament_sets_df = sets_df.iloc[start:end+1] instead.

sets_df = sets_df.merge(tournament_info_df[['key', 'start', 'end']], left_on='tournament_key', right_on='key', how='left')
sets_df = sets_df.drop(labels=['key_y'], axis='columns')
sets_df = sets_df.rename(columns={"key_x": "key"})
sets_df = sets_df.sort_values(by=['end', 'tournament_key']) # Just in case there are tournaments with the exact same end date

In [10]:
# A bit of data cleanup
min_date = datetime.datetime(2015, 1, 1)
max_date = datetime.datetime(2024, 12, 31)

sets_df = sets_df[(sets_df['start'] >= min_date) & (sets_df['end'] >= min_date) & (sets_df['start'] <= max_date) & (sets_df['end'] <= max_date)]

## Generate features

In [11]:
# Append to this list evey time you add features!
# For convenience, it is blank here, and you should append in each feature-adding cell
features = []
output = 'winner'

In [12]:
sets_df[output] = sets_df.apply(lambda row: 1.0 if row['winner_id'] == row['p1_id'] else 0.0, axis=1)

### "Default" ELO/RD features

In [ ]:
# Overall ELO/RD as features
player_ratings_df = pd.read_pickle(data_path + 'overall_players_ranking_new_weekly.pkl')
player_rds_df = pd.read_pickle(data_path + 'overall_players_rds_new_weekly.pkl')

features += ['p1_elo', 'p2_elo', 'p1_rd', 'p2_rd']

dates = list(player_ratings_df.index)

# Efficiency purposes. We are assuming that constant intervals are used.
initial_date = dates[0]
interval = dates[1] - dates[0]

# start_date is the start date of the specific set (tournament)
def get_info(df, player_id, start_date):
    # Far more efficient than searching the index manually every time
    week_num = int((start_date - initial_date) / interval)
    newest_date = initial_date + week_num * interval
    if dates[-1] < newest_date:
        newest_date = dates[-1]
    return df.loc[newest_date, player_id]

sets_df['p1_elo'] = sets_df.apply(lambda row: get_info(player_ratings_df, row['p1_id'], row['start']), axis=1)
sets_df['p2_elo'] = sets_df.apply(lambda row: get_info(player_ratings_df, row['p2_id'], row['start']), axis=1)

sets_df['p1_rd'] = sets_df.apply(lambda row: get_info(player_rds_df, row['p1_id'], row['start']), axis=1)
sets_df['p2_rd'] = sets_df.apply(lambda row: get_info(player_rds_df, row['p2_id'], row['start']), axis=1)

# Might as well clear if these aren't needed. They are huge in memory.
del player_ratings_df
del player_rds_df

### Number of times each player has played each character

In [13]:
initial_date = datetime.datetime(2015,1,1)
interval = datetime.timedelta(weeks=1)

end_date = initial_date + math.ceil((sets_df['end'].max() - initial_date) / interval) * interval

# Extract the number of times a player has played as a certain character
game_data = sets_df[sets_df['game_data'].apply(lambda x: x != [])]
game_data = game_data[['p1_id', 'p2_id', 'winner_id', 'game_data', 'start', 'end']]
game_data

# For efficiency reasons, let's create a dataframe with each individual game being a row
rows = []

def add_row(row):
    for data in row['game_data']:
        # If we wanna avoid tampering with the original entries
        data = data.copy()

        # Invalid data
        if data['winner_id'] is None or data['winner_char'] is None or data['loser_id'] is None or data['loser_char'] is None:
            continue

        # Data cleanup
        data['winner_id'] = str(data['winner_id'])
        data['winner_char'] = str(data['winner_char'])
        data['loser_id'] = str(data['loser_id'])
        data['loser_char'] = str(data['loser_char'])

        data['start'] = row['start']
        data['end'] = row['end']

        rows.append(data)

game_data.apply(add_row, axis=1)

game_data = pd.DataFrame(rows)
game_data

,winner_id,loser_id,winner_score,loser_score,winner_char,loser_char,stage,start,end
0,4643,4532,2.0,0.0,melee/jigglypuff,melee/zelda,None,2015-04-11 21:30:00,2015-04-13 05:00:00
1,4643,4532,2.0,0.0,melee/jigglypuff,melee/zelda,None,2015-04-11 21:30:00,2015-04-13 05:00:00
2,4005,3349,4.0,0.0,melee/mario,melee/marth,Fountain of Dreams,2015-04-11 21:30:00,2015-04-13 05:00:00
3,4005,3349,4.0,0.0,melee/mario,melee/marth,Yoshi's Story,2015-04-11 21:30:00,2015-04-13 05:00:00
4,4608,4624,2.0,0.0,melee/zelda,melee/pikachu,Fountain of Dreams,2015-04-11 21:30:00,2015-04-13 05:00:00
...,...,...,...,...,...,...,...,...,...
1585191,1565365,148873,NaN,0.0,melee/yoshi,melee/marth,None,2024-06-04 21:30:00,2024-06-26 03:59:00
1585192,512704,55592,NaN,0.0,melee/captainfalcon,melee/falco,Battlefield,2024-06-04 21:30:00,2024-06-26 03:59:00
1585193,512704,55592,NaN,0.0,melee/captainfalcon,melee/falco,Yoshi's Story,2024-06-04 21:30:00,2024-06-26 03:59:00
1585194,2496254,55592,NaN,0.0,melee/fox,melee/falco,Dream Land,2024-06-04 21:30:00,2024-06-26 03:59:00
1585195,2496254,55592,NaN,0.0,melee/fox,melee/falco,Yoshi's Story,2024-06-04 21:30:00,2024-06-26 03:59:00

In [14]:
# Actually get a list of characters and their individual popularities
# In the end, a series with index as the character and value as the number of times played.
# Probably sorted in the end.
all_characters = pd.concat([game_data['winner_char'], game_data['loser_char']], ignore_index=True)
all_characters = all_characters.value_counts()

In [15]:
# Player/character combos
game_data['winner_pc'] = game_data.apply(lambda row: row['winner_id'] + '/' + row['winner_char'], axis=1)
game_data['loser_pc'] = game_data.apply(lambda row: row['loser_id'] + '/' + row['loser_char'], axis=1)

# What week number this is, for example.
game_data['end_index'] = game_data['end'].apply(lambda x: math.ceil((x - initial_date) / interval))
game_data['end_date'] = game_data['end_index'].apply(lambda x: initial_date + x*interval)
game_data['end_date_copy'] = game_data['end_index'].apply(lambda x: initial_date + x*interval) # To deal with include_groups=True deprecation

In [17]:
# TODO: Compute the dates without loading this
pcc_rankings_df = pd.read_pickle(data_path + 'char_vs_char_player_rankings_weekly.pkl')

pc_combos = list(set(list(game_data['winner_pc']) + list(game_data['loser_pc'])))

# Count the number of times a character has been used.
# Columns will be player/character (or rather, player/melee/character)
# Initialize everything to zero, initially.
character_usage_df = pd.DataFrame(0, index=pcc_rankings_df.index, columns=pc_combos)

In [18]:
def update_row(df):
    date = df.iloc[0]['end_date_copy']

    pc_series = pd.concat([df['winner_pc'], df['loser_pc']], ignore_index=True)

    # Deprecation-proofing
    temp = character_usage_df.loc[date].copy()
    temp.update(pc_series.value_counts())
    
    character_usage_df.loc[date] = temp
    
game_data.groupby('end_date').apply(update_row, include_groups=False)

Empty DataFrame
Columns: []
Index: []

In [19]:
character_usage_df = character_usage_df.cumsum()
character_usage_df

,266892/melee/falco,3632572/melee/falco,45688/melee/marth,1722231/melee/random,2712434/melee/link,6167/melee/falco,63336/melee/falco,738842/melee/fox,1453265/melee/fox,2448519/melee/kirby,...,3041026/melee/falco,3861355/melee/samus,1875613/melee/bowser,2594335/melee/roy,36947/melee/iceclimbers,674650/melee/jigglypuff,173001/melee/iceclimbers,1958518/melee/iceclimbers,1153781/melee/fox,2340066/melee/falco
2015-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-28,20,1,3,1,2,11,72,4,5,1,...,2,1,3,1,49,7,8,1,219,6
2024-12-05,20,1,3,1,2,11,72,4,5,1,...,2,1,3,1,49,7,8,1,219,6
2024-12-12,20,1,3,1,2,11,72,4,5,1,...,2,1,3,1,49,7,8,1,219,6
2024-12-19,20,1,3,1,2,11,72,4,5,1,...,2,1,3,1,49,7,8,1,219,6
2024-12-26,20,1,3,1,2,11,72,4,5,1,...,2,1,3,1,49,7,8,1,219,6

In [20]:
# Newest possible date to get data from.
sets_df['start_index'] = sets_df['start'].apply(lambda x: int((x - initial_date) / interval))
sets_df['start_date'] = sets_df['start_index'].apply(lambda x: initial_date + x * interval)

Requirement already satisfied: swifter in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (1.4.0)
Requirement already satisfied: pandas>=1.0.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from swifter) (2.2.3)
Requirement already satisfied: psutil>=5.6.6 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from swifter) (6.0.0)
Requirement already satisfied: dask>=2.10.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask[dataframe]>=2.10.0->swifter) (2024.8.2)
Requirement already satisfied: tqdm>=4.33.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from swifter) (4.66.5)
Requirement already satisfied: click>=8.1 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (2024.6.1)
Requirement already satisfied: packaging>=20.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (24.1)
Requirement already satisfied: partd>=1.4.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (0.12.0)
Requirement already satisfied: dask-expr<1.2,>=1.1 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask[dataframe]>=2.10.0->swifter) (1.1.13)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from pandas>=1.0.0->swifter) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from pandas>=1.0.0->swifter) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from pandas>=1.0.0->swifter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from pandas>=1.0.0->swifter) (2024.2)
Requirement already satisfied: colorama in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from tqdm>=4.33.0->swifter) (0.4.6)
Requirement already satisfied: pyarrow>=14.0.1 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from dask-expr<1.2,>=1.1->dask[dataframe]>=2.10.0->swifter) (17.0.0)
Requirement already satisfied: locket in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from partd>=1.4.0->dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.0.0)
Requirement already satisfied: six>=1.5 in c:\users\dan\miniconda3\envs\erdos_fall_2024\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->swifter) (1.16.0)

In [25]:
# No point in recomputing every single time.
p1c_final_index = ['p1' + '_' + x + '_count' for x in all_characters.index]
p2c_final_index = ['p2' + '_' + x + '_count' for x in all_characters.index]

features += p1c_final_index
features += p2c_final_index

def get_char_count(row):
    # We'll rename the index entries later for these.
    p1c_series = pd.Series(0, index=[row['p1_id'] + '/' + x for x in all_characters.index])
    p2c_series = pd.Series(0, index=[row['p2_id'] + '/' + x for x in all_characters.index])

    p1c_series.update(character_usage_df.loc[row['start_date']])
    p2c_series.update(character_usage_df.loc[row['start_date']])

    p1c_series.index = p1c_final_index
    p2c_series.index = p2c_final_index

    return pd.concat([p1c_series, p2c_series])

sets_df.iloc[:100000].swifter.apply(get_char_count, axis=1)

Pandas Apply:   0%|          | 0/100000 [00:00<?, ?it/s]

KeyboardInterrupt:

### Char vs char, variation 1

In [16]:
pcc_rankings_df = pd.read_pickle(data_path + 'char_vs_char_player_rankings_weekly.pkl')
features += ['p1_pcc_elo_var1', 'p2_pcc_elo_var1']

# Keep track of how many updates have been made at each date.
# Pre-allocate the entire dataframe for convenience.
# Fill the first row with zeros.
pcc_rankings_updates_df = pd.DataFrame([[0] * len(pcc_rankings_df.columns)], index=pcc_rankings_df.index, columns=pcc_rankings_df.columns)

# Compute the rest of the updates
for i in range(1, len(pcc_rankings_df.index)):
    update_made = pcc_rankings_df.iloc[i] - pcc_rankings_df.iloc[i-1]
    update_made = (update_made != 0.0).astype(int)
    pcc_rankings_updates_df.iloc[i] = pcc_rankings_updates_df.iloc[i-1] + update_made

dates = list(pcc_rankings_df.index)

# Efficiency purposes. We are assuming that constant intervals are used.
initial_date = dates[0]
interval = dates[1] - dates[0]

## Generate final dataset from above features

In [ ]:
dataset_df = sets_df[features + [output]]
dataset_df